# ==============================
# SERVER
# ==============================
PORT=3000
NODE_ENV=development

# ==============================
# DATABASE
# ==============================
MONGO_URI=mongodb://127.0.0.1:27017/fifa_club_pro

# ==============================
# AUTH
# ==============================
JWT_SECRET=contraseña_mala
JWT_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=10

# ==============================
# FRONTEND / CORS
# ==============================
CLIENT_URL=http://localhost:5173